body {
	background-color: #151515;
	color: white;
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
	"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
	sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: -1px;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

form {
	left:0;
	right:0;
	position: absolute;
	margin: auto;
	width: 38%;
	vertical-align: middle;
}

header {
	display: block;
	position: relative;
	top:3px;
}

iframe {
	src: "https://www.youtube.com/embed/PqFFQB64JS8";
	left: 0;
	right: 0;
	top: 50px;
	width: 74%;
	min-width: 368px;
	min-height: 207px;
	height: calc(9 * (74vw / 16));
	position: absolute;
	margin: auto;
	vertical-align: middle;
}

.chanTitle {
	font-size: 16px;
	margin: 5px;
	top: 22px;
}

.logo {
	vertical-align: middle;
	position: absolute;
	left: 0;
}

.logoImg {
	height: 22px;
	margin: 3px;
	vertical-align: middle;
	width: 32px;
}

.searchBar {
	border-color: red;
	background-color: black;
	color: white;
	display: inline-block;
	font-size: 16px;
	height: 22px;
	text-indent: 3px;
	vertical-align: middle;
	width: calc(100% - 54px);
}

.searchBar:focus {
	outline-color: red;
}

.searchBar::placeholder {
	color: red;
	opacity: 0.5;
}

.searchButton {
	border-color: red;
	background-color: black;
	display: inline-block;
	height: 28px;
	width: 50px;
	margin: 0px;
	vertical-align: middle;
}

.searchButton:focus {
	outline-color: red;
}

.searchResults {
	max-width: 700px;
	min-width: 500px;
	left:0;
	right:0;
	position: absolute;
	width: 60%;
	margin: auto;
	top: 36px;
}

.tNailImg {
	vertical-align: middle;
	display: inline-block;
}

.vidDetails {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	left: 120px;
	width: calc(100% - 120px);
	display: inline-block;
	vertical-align: middle;
}

.vidInfContainer {
	border-color: red;
	border-style: solid;
	background-color: black;
	height: 90px;
	margin: 10px 0px;
	min-width: 500px;
	position: relative;
}

.vidInfContainer:active {
	background-color: #242424;
}

.vidInfContainer:hover {
	background-color: #202020;
	cursor: pointer;
}

.vidTitle {
	font-size: 17px;
	margin: 5px;
	top: 0;
}

.youFocusLogo {
	display: inline-block;
	font-size: 18px;
	margin: 0px;
	vertical-align: middle;
}

.youTubeLink {
	color: red;
	position: absolute;
	top: 3px;
	right: 3px;
}